name: Quality Checks

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  check:
    name: Quality Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Check code format
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy -- -D warnings

      - name: Build with no features
        run: cargo build --no-default-features

      - name: Build with all features
        run: cargo build --all-features

      - name: Build documentation
        run: cargo doc

  examples:
    name: Examples
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        example:
          - aarch64
          - riscv
          - x86_64
        include:
          - example: aarch64
            packages: qemu-system-arm gcc-aarch64-linux-gnu
          - example: riscv
            packages: qemu-system-misc
          - example: x86_64
            packages: qemu-system-x86

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Install QEMU
        run: sudo apt update && sudo apt install ${{ matrix.packages }} && sudo chmod 666 /dev/vhost-vsock

      - name: Check code format
        working-directory: examples/${{ matrix.example }}
        run: cargo fmt --all -- --check

      - name: Build
        working-directory: examples/${{ matrix.example }}
        run: make kernel

      - name: Run
        timeout-minutes: 1
        working-directory: examples/${{ matrix.example }}
        run: QEMU_ARGS="-display none -audiodev none,id=audio0" make qemu accel="off"
